.location {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
  padding: 30px;
  margin: 40px 0;
  background-color: #F6F6F6;
  border-radius: 25px;
}
@media (max-width: 1024px) {
  .location {
    margin: 0 0 40px 0;
    grid-template-columns: 1fr;
    padding: 0;
    background-color: #ffffff;
  }
}
.location button {
  cursor: pointer;
}
.location-card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}
.location-card-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 320px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .location-card-image {
    height: 255px;
  }
}
.location-card-titre {
  width: 65%;
  position: absolute;
  z-index: 2;
  top: 73%;
  left: 10px;
  font-size: 18px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .location-card-titre {
    top: 70%;
  }
}

.apropos {
  width: 100%;
  margin: 40px auto;
}
@media (max-width: 1024px) {
  .apropos {
    margin: 0px auto 20px auto;
  }
}
.apropos-item {
  width: 90%;
  margin: 0 auto;
}
.apropos-item li {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.slider {
  margin: 20px 0;
}
.slider-container {
  width: 100%;
  position: relative;
}
.slider-container-image {
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
@media (max-width: 1024px) {
  .slider-container-image {
    height: 255px;
  }
}
.slider-container-counter {
  position: absolute;
  z-index: 2;
  top: 90%;
  left: 50%;
  color: #ffffff;
}
.slider-control {
  width: 80%;
  position: absolute;
  z-index: 2;
  top: 33%;
  left: 10%;
  display: flex;
  justify-content: space-between;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .slider-control {
    width: 98%;
    top: 33%;
    left: 1%;
  }
}
.slider-control button {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .slider-control img {
    width: 24px;
    height: 24px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.slider-control-right {
  width: 47px;
  height: 79px;
  margin-right: 5px;
}
.slider-control-left {
  width: 47px;
  height: 79px;
  margin-left: 5px;
}

.lodge {
  display: flex;
  flex-direction: column;
}
.lodge-lieu {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .lodge-lieu {
    flex-direction: column;
  }
}
.lodge-lieu-detail {
  width: 75%;
}
@media (max-width: 1024px) {
  .lodge-lieu-detail {
    width: 100%;
  }
}
.lodge-lieu-detail-title {
  font-size: 36px;
  color: #FF6060;
}
.lodge-lieu-detail-lieu {
  margin-bottom: 10px;
}
.lodge-lieu-detail-tags {
  display: flex;
  gap: 10px;
}
.lodge-lieu-detail-tags-item {
  background-color: #FF6060;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
  padding: 0 15px;
}
@media (max-width: 1024px) {
  .lodge-lieu-detail-tags-item {
    font-size: 10px;
  }
}
.lodge-lieu-hote {
  width: 20%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .lodge-lieu-hote {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
.lodge-lieu-hote-id {
  display: flex;
  align-items: center;
}
.lodge-lieu-hote-id-name {
  color: #FF6060;
  text-align: right;
  margin-right: 15px;
}
@media (max-width: 1024px) {
  .lodge-lieu-hote-id-name {
    width: 93px;
  }
}
.lodge-lieu-hote-id-photo {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
@media (max-width: 1024px) {
  .lodge-lieu-hote-id-photo {
    width: 32px;
    height: 32px;
  }
}
.lodge-lieu-hote-note {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
  gap: 10px;
}
@media (max-width: 1024px) {
  .lodge-lieu-hote-note {
    justify-content: flex-start;
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .lodge-lieu-hote-note img {
    width: 18px;
    height: 18px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.lodge-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .lodge-description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
.lodge-description li {
  width: 47%;
}
@media (max-width: 1024px) {
  .lodge-description li {
    width: 100%;
    margin-bottom: 10px;
  }
}
.lodge-description span {
  display: flex;
  flex-direction: column;
}

.erreur {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 80px auto;
}
@media (max-width: 1024px) {
  .erreur {
    margin: 80px auto;
  }
}
.erreur-titre {
  font-size: 288px;
  font-weight: 700;
  color: #FF6060;
}
@media (max-width: 1024px) {
  .erreur-titre {
    font-size: 96px;
  }
}
.erreur-text {
  font-size: 36px;
  color: #FF6060;
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 1024px) {
  .erreur-text {
    font-size: 18px;
  }
}
.erreur-lien {
  border-bottom: 1px solid #000000;
}/*# sourceMappingURL=App.css.map */