$color-constrat: #ffffff;
$background-result:#F6F6F6;
$color-kasa:#FF6060;

.item {

    &-titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-kasa;
    color:$color-constrat;
    border-radius: 5px;
    padding:10px;

    @media(max-width: 1024px){
        padding:5px 10px;
    }

    & h2{
        @media(max-width: 1024px){
            font-size: 13px;
        }
    }
    
        & button{
            width: 32px;
            height: 32px;
            background-color: $color-kasa;
            color: $color-constrat;
            animation: chevron-init 800ms ease-in-out forwards;
        
            &:hover{
                cursor: pointer;
            }

            &:active {
                animation: chevron 800ms ease-in-out forwards;
              }

        & img {
            display: block;
            margin:0 auto;
            width: 25px;
            height: 18px;
            object-fit: cover;

            @media(max-width: 1024px){
                width: 16px;
                height: 9px;
            }
        }
    }

    &_chevron-bas{
        transform:rotate(180deg);
    }
  }

  &-text{
    display:flex;
    background-color: $background-result;
    font-weight: 400;
    height: 0;
    opacity: 0;
    transform: translateY(0);
    font-size: 18px;
    margin-block-end: 0;
    margin-block-start:0;

    @media(max-width: 1024px){
        font-size: 12px;
    }

    &_open{
        animation: paragraphe 800ms ease-in-out forwards;
    }

    &_close{
        animation: paragraphe-init 800ms ease-in-out forwards;
        font-size: 0;
    }
  }
}

@keyframes chevron {
    0%{
        transform:rotate(0deg);
    }
    25%{
        transform:rotate(45deg);
    }
    50%{
        transform:rotate(90deg);
    }
    75%{
        transform:rotate(135deg);
    }
    100%{
        transform:rotate(180deg);
    }
}
@keyframes chevron-init {
    0%{
        transform:rotate(180deg);
    }
    25%{
        transform:rotate(135deg);
    }
    50%{
        transform:rotate(90deg);
    }
    75%{
        transform:rotate(45deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
@keyframes paragraphe {
    0%{
        height: 0;
        opacity: 0;
        transform: translateY(0);
    }
    25%{
        height: 25%;
        opacity: 0.25;
        transform: translateY(1%);
    }
    50%{
        height: 50%;
        opacity: 0.5;
        transform: translateY(2%);
    }
    75%{
        height: 75%;
        opacity: 0.75;
        transform: translateY(3%);
    }
    100%{
        height: 80%;
        opacity: 1;
        transform: translateY(5%);
    }
}
@keyframes paragraphe-init {
    0%{
        height: 80%;
        opacity: 1;
        transform: translateY(5%);
    }
    25%{
        height: 75%;
        opacity: 0.75;
        transform: translateY(3%);
    }
    50%{
        height: 50%;
        opacity: 0.5;
        transform: translateY(2%);
    }
    75%{
        height: 25%;
        opacity: 0.25;
        transform: translateY(1%);
    }
    100%{
        height: 0;
        opacity: 0;
        transform: translateY(0);
    }
}